@page "/"
@using UltraStarArg.Data
@using UltraStarArg.Models
@inject IMySqlDataAccess _data
@inject IConfiguration _config

<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								@*<a href="/" class="logo">
									<span class="symbol"><img src="" alt="" /></span><span class="title">UltraStar Arg</span>
								</a>*@
								<a href="/">
									<H4>UltraStar Arg</H4>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Inicio</a></li>
							<li><a href="/Programas">Programas</a></li>
							<li><a href="/Tutoriales">Tutoriales</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Esta es un pagina donde podras descargar canciones para el juego ultrastar deluxe de forma gratuita.</h1>
								<p>La canciones son recopilaciones de paginas y algunas propias. tambien creare tutoriales para que puedas crear tus propias canciones</p>
							</header>
							<h2>Ultimas Canciones Agregadas</h2>
							<section class="tiles" >
		
								@foreach (var Cancion in canciones)
								{
									<ul class="canciones">
										<li title="Descargar">
										   <dl class="datos">
											   <dt>Idioma</dt>
												   <dd>@Cancion.Ideoma</dd>
											   <dt>Año</dt>
												   <dd>@Cancion.Año</dd>
											   <dt>Ritmo</dt>
												   <dd>@Cancion.Ritmo</dd>
											   <dt>Duo</dt>
												   <dd>@Cancion.Duo</dd>
										   </dl>
										   <img src="@Cancion.Imagen"/>
										   <h3>
											   <a>@Cancion.Artista</a>
											   <a>@Cancion.Nombre</a>
										   </h3>
										   <ul class="acciones" data-id="">
											   <li>
												    <a href=@Cancion.RutaCancion>
														<i class="fas fa-file-download">Descargar</i>
													</a>
													
  											   </li>
										   </ul>
									   </li>
								   </ul>
  									
								}

							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							@*<section>
								<h2>Siguenos</h2>
								<ul class="icons">
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>*@
							<ul class="copyright">
								<li>&copy;2022 Girosoft</li>
							</ul>
						</div>
					</footer>

			</div>


	</body>

@code {
	string RutaBaseImagen =@"https://javiercanteros.com.ar/ultrastar/imagenes/";

	List<Canciones> canciones = new List<Canciones>();
	// Load the initial data
    protected override async Task OnInitializedAsync()
    {
        string sql=@"SELECT C.id,concat(UCASE(LEFT(I.nombre, 1)), LCASE(SUBSTRING(I.nombre, 2))) as Ideoma ,concat(UCASE(LEFT(A.nombre, 1)), LCASE(SUBSTRING(A.nombre, 2))) as Artista,concat(UCASE(LEFT(R.nombre, 1)), LCASE(SUBSTRING(R.nombre, 2))) as Ritmo,C.año ,concat(UCASE(LEFT(C.nombre, 1)), LCASE(SUBSTRING(C.nombre, 2))) as nombre,C.Duo,C.imagen,C.RutaCancion FROM Ult_Canciones C
			inner join Ult_Artistas A on A.id=C.fk_Artista
			inner join Ult_Ideomas I on I.id = C.fk_Ideoma
			inner join Ult_Ritmos R on R.id = C.fk_Ritmo
			order by C.id desc";
        canciones=await _data.LoadData<Canciones,dynamic>(sql,new{},
        _config.GetConnectionString("MySQLConnection"));

    }
}
